server:
  port: 8081

spring:
  application:
    name: POLICY-SERVICE
  datasource:
    url: jdbc:h2:mem:policydb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
